.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 0;
  padding: 0 2em;
  overflow: hidden;
}

.texts {
  display: flex;
  flex-flow: column nowrap;
  max-width: 35em;
  height: fit-content;
  justify-content: center;
  background-color: #17162c;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0px 6px 82px -23px #080816;
  z-index: 2;
}

.spacer {
  margin: 0 0 0 -8em;
}

.texts > p {
  font-family: 'Livvic' !important;
  font-weight: 400;
  margin-bottom: 0;
  opacity: 0.9; 
}

.red {
  color: #fa5990;
}

.orange {
  color: #ff9a63;
}

.green {
  color: #15bcaf;
}

.image-container {
  z-index: 1;
  width: calc(100% - 33em - 4em);
  max-width: 55em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.image {
  width: 130%;
  height: auto;
  object-fit: cover;
  z-index: 2;
}

@media screen and (min-width: 1201px) {
  .container.text-first {
    flex-flow: row-reverse nowrap;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    flex-flow: column-reverse nowrap;
    padding-top: 2em;
  }

  .container.text-fisrt {
    flex-flow: column-reverse nowrap
  }

  .image-container {
    width: 100%;
    min-width: 20em;
    height: fit-content;
  }
  
  .texts {
    width: 100%;
  }
}

