.scroll-section {
  width: 100vw;
/*  min-height: 100vh;*/
}

.scroll-section > * {
/*  align-self: stretch;*/
  min-height: 100vh;
}

.overflowed {
  overflow-y: visible;
  z-index: 1;
}

@media screen and (max-width: 966px) {
  .scroll-section > * {
    padding: 2rem;
  }
}
