.container {
  width: 100%;
  background-color: #17162c;
}

.container-inner {
  position: relative;
  width: 100%;
  background-color: #101023;
  min-height: 100vh;
  border-top-right-radius: 8em;
  overflow: hidden;
}

.background-image {
  position: absolute;
  background-image: url('/static/img/desk_illustration.webp');
  width: calc(100% - 6em);
  top: 0;
  margin-left: 6em;
  min-height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.steps {
  padding-top: 3em;
  padding-bottom: 3em;
}

.step {
  font-family: 'Livvic';
  font-weight: 600;
  font-size: 18px;
  display: grid; 
  grid-template-columns: 2em 1fr;
  column-gap: 1.5em;
  margin-bottom: 1em;
}

img {
  width: 2em;
  height: 2em;
}

.step p {
  line-height: 2em;
  vertical-align: middle;
}

.texts {
  position: absolute;
  right: 0;
  top: 50%;
  width: 50%;
  padding-left: 6em;
  transform: translateY(-40%);
}

@media screen and (max-width: 966px) {
  .container-inner {
    margin: -2rem;
    width: calc(100% + 4em);
    border-top-right-radius: 4em;
  }

  .texts {
    position: relative;
    width: 100%;
    top: 3em;
    transform: translateY(0);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 2em;
    z-index: 1;
  }

  .background-image {
    position: relative;
    margin-bottom: -12em;
    margin-top: -8em;
    width: 160%;
    min-height: 40em;
    max-height: 85em ;
    min-width: 800px;
    background-position: center left;
    margin-left: -3em;
  }
}

